<!DOCTYPE html>
<html>

<head>
    <title>
        Home
    </title>
</head>

<body>
    <h1>This is Landing Page</h1>
    <p>
        <a href="admin/">Go To Admin Panel</a><br>
        <a href="analyst/dashboard/">Go To Analyst Dashboard Page</a><br>
        <a href="analyst/review/">Go To Analyst Review Page</a><br>
        <a href="entrepreneur/dashboard/">Go To Entrepreneur Dashboard Page</a><br>
        <a href="entrepreneur/apply/">Go To Entrepreneur Apply Page</a><br>
        <a href="investor/dashboard/">Go To Investor Dashboard Page</a><br>
        <a href="investor/explore/">Go To Investor Explore Page</a><br>
        <a href="profile/">Go To Use Profile Page</a><br>
        <a href="profile/edit/">Go To Edit Profile Page</a><br>
        <a href="profile/history/">Go To All History of User Page</a><br>
    </p>

    <h1>Hello {{name}}  you are {{age}} old now</h1>
</body>

</html>