{% extends 'landing/base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock title %}

{% block leftSideImage %}
    <img src="{% static 'landing/svg/forgotpass.svg' %}" alt="hand shake image"> 
{% endblock leftSideImage %} 

{% block rightSideContent %}
<br> <br>
<h1 style="">Forgot Password</h1>
<form action="" method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <input type="email" name="email" class="form-control" id="email" placeholder="Email" required />
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Please provide a valid Email.</div>
    </div>

    <button type="submit" class="btn submit-btn">Submit</button>
</form>
<img src="{% static 'landing/images/picchi.png' %}" style="width:200px; margin-left:380px" alt="hand shake image">
{% endblock rightSideContent %}

{% block alertMessage %} 
    {% if messages %} 
        {% for mess in messages%} 
            {% if mess.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <script>
                    swal("Error", "{{mess}}", "error");
                </script>
            {% endif %}
            {% if mess.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <script>
                    swal("Success", "{{mess}}", "success");
                </script>
            {% endif %} 
        {% endfor %} 
    {% endif %} 
{% endblock alertMessage %}