{% extends 'landing/base.html' %} 
{% load static %} 

{% block title %}Home{%endblock title %} 

{% block leftSideImage %}
    <img src="{% static 'landing/svg/handshake.svg' %}" alt="hand shake image" />
{% endblock leftSideImage %} 

{% block rightSideContent %}
<h1 style="color: #030316">--</h1>
<form action="" method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <input type="email" name="email" class="form-control" id="email" placeholder="Email" required />
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Please provide a valid Email.</div>
    </div>
    <div class="mb-3">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required />
        <div class="valid-feedback">Valid</div>
        <div class="invalid-feedback">Please provide a valid Password.</div>
    </div>
    <button type="submit" class="btn submit-btn">Login</button>
</form>
<br />
<div class="utility">
    <a href="/forgot-password">Forgot password?</a> <br />
    <a href="#">Don't Have An Account? </a> <br />
    <a href="signup/"><button type="button" class="btn">CREATE NEW ACCOUNT</button></a>
</div>
{% endblock rightSideContent %} 

{% block alertMessage %} 
    {% if messages %} 
        {% for mess in messages%} 
            {% if mess.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <script>
                    swal("Error", "{{mess}}", "error");
                </script>
            {% endif %}
            {% if mess.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <script>
                    swal("Success", "{{mess}}", "success");
                </script>
            {% endif %} 
        {% endfor %} 
    {% endif %} 
{% endblock alertMessage %}