{% extends 'landing/base.html' %} 
{% load static %}

{% block leftSideImage %}
    <img src="{% static 'landing/svg/forgotpass.svg' %}" alt="hand shake image"> 
{% endblock leftSideImage %} 

{% block rightSideContent %}
<br> <br>
<h1 style=""> Reset Password </h1>

<form action="" class="needs-validation" novalidate method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" onkeyup='check();' required>

        <div class="invalid-feedback">Please provide a valid Password</div>
    </div>

    <div class="mb-3">
        <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" onkeyup='check();' required>

        <div class="invalid-feedback">Please provide a valid Password</div>
        <span id='message'></span>
    </div>

    <button type="submit" class="btn submit-btn">Conferm</button>
</form>
{% endblock rightSideContent %}

{% block alertMessage %} 
    {% if messages %} 
        {% for mess in messages%} 
            {% if mess.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <script>
                    swal("Error", "{{mess}}", "error");
                </script>
            {% endif %}
            {% if mess.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <script>
                    swal("Success", "{{mess}}", "success");
                </script>
            {% endif %} 
        {% endfor %} 
    {% endif %} 
{% endblock alertMessage %}