{% extends 'landing/base.html' %}
{% load static %}

{% block title %}SignUp{% endblock title %}

{% block leftSideImage %}
    <img src="{% static 'landing/svg/happyContruct.svg' %}" alt="hand shake image">
{% endblock leftSideImage %}

{% block rightSideContent %}
      <h1>User Login</h1>
      <form>
        <div class="mb-3">
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" id="dob" placeholder="Nid or Birth Certificate ">
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" id="mobile" placeholder="Mobile Number ">
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="confernPassword" placeholder="Confarm Password">
        </div>

        <button type="submit" class="btn submit-btn">Submit</button>
      </form>
{% endblock rightSideContent %}