/* analyst css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: seashell;
}
body {
  background-color: #030316;
}
h1,
h2 {
  color: #ffb93e;
}
/* top nav bar */
.top-navber {
  display: grid;
  grid-template-columns: 40% auto 30%;
  align-content: center;
  background-color: #6363633f;
  padding: 1rem 1.5rem;
}
.top-navber ul li {
  display: inline-block;
}
.top-navber ul li a {
  color: seashell;
  text-decoration: none;
  padding: 0 10px;
}
.top-navber .controller li {
  display: inline-block;
  margin-left: 450px;
}
.top-navber .controller li a {
  color: seashell;
  text-decoration: none;
  padding: 0 10px;
  
}
/* main content */
.main-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 1rem 0;
  height: 35vh;
}
.main-content .left-side {
  grid-column: 3/9;
  margin-left: 2rem;
  display: flex;
}
.main-content .left-side .profile-pic img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.main-content .left-side .intro-box {
  background-color: #6363633f;
  width: 50rem;
  height: 15rem;
  border-radius: 2%;
  margin: 0 2rem;
}

.main-content .left-side .intro-box img {
  width: 270px;
  height: 230px;
  margin: -50px 0 0 500px;
}
#application-table{
    background-color: #171726;
    padding: 2rem;
    border-radius: 15px;
    color: seashell;
}



/* toggle switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: rotateY(180deg);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffb93e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #030316;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffb93e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
