{% extends 'entrepreneur/base.html' %}
{% load static %}



{% block title %} {{uData.name}} {% endblock title %}  
{% block uID %} {{uData.id}} {% endblock uID %}
{% block userEmail %} {{uData.email}} {% endblock userEmail %}
{% block userCellNumver %} {{uData.cell}} {% endblock userCellNumver %}
{% block userName %} {{uData.name}} {% endblock userName %}
{% block userBalance %} Calculation... {% endblock userBalance %}
{% block userTotalInvest %} {{uData.totalInvested}} {% endblock userTotalInvest %}
{% block userAllTimeProfit %} Calculation... {% endblock userAllTimeProfit %}

{% block projectTableData %}
    {% for prjData in uProjectList %}
        <tr>
            <td><a href="/project/{{prjData.id}}" class="text-white text-decoration-none">{{prjData.id}}</a> </td>
            <td>{{prjData.proj_Name}}</td>
            <td>{{prjData.proj_Location}}</td>
            {% if prjData.proj_status == 'new' %} <td class="badge bg-info text-wrap" style="width: 4rem;">{{prjData.proj_status}}</td> {% endif %}
            {% if prjData.proj_status == 'active' %} <td class="badge bg-success text-wrap" style="width: 4rem;">{{prjData.proj_status}}</td> {% endif %}
        </tr>
    {% endfor %}
{% endblock projectTableData %}



{% block alertMessage %} 
    {% if messages %} 
        {% for mess in messages%} 
            {% if mess.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <script>
                    swal("Error", "{{mess}}", "error");
                </script>
            {% endif %} 
            {% if mess.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <script>
                    swal("Success", "{{mess}}", "success");
                </script>
            {% endif %} 
        {% endfor %} 
    {% endif %} 
{% endblock alertMessage %}
