* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: seashell;
}

body {
    background-color: #030316;
    margin: 0rem 5rem;
}

h1 {
    color: #ffb93e;
}


/* INTRO CONTAINER */

#intro-container {
    padding-top: 10rem;
}

#intro-container .left-side-intro img {
    width: 40rem;
    margin-left: 12rem;
    margin-top: 3rem;
}


/* divider line */

#intro-container .divider-line {
    padding-left: 100px;
}

#intro-container .divider-line img {
    height: 27rem;
    margin: auto 0;
}


/* right side part */

#intro-container .intro-forms h1 {
    display: flex;
    justify-content: center;
}

#intro-container .intro-forms input {
    background-color: #ffeddc;
}

#intro-container .intro-forms input::placeholder {
    color: #030316;
}

#intro-container .intro-forms button {
    background-image: linear-gradient(#FFF6BC, #FF8A00);
    height: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: #030316;
    cursor: pointer;
    transition-duration: 0.4s;
}

#intro-container .intro-forms .submit-btn {
    width: 10rem;
    margin: 0 35%;
}

#intro-container .intro-forms .utility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#intro-container .intro-forms .utility a {
    text-decoration: none;
    color: #FFEDDC;
}

#intro-container .intro-forms button {
    color: #030316;
}


/* INTRO CONTAINER END */