<!-- analyst-->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} </title>
    <!-- Sweet Alart JS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Page level plugin style-->
    <link href="{% static 'analyst/js/assets/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'analyst/js/assets/datatables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Boostrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'analyst/css/style.css' %}">
</head>

<body>
    <!-- top nav bar -->
    <div class="top-navber">
            <a href="/" style="text-decoration: none;">
                <h1>MICRO INVESTING & FUNDING</h1>
            </a>
        <ul>
            <li><a href="#">Dashboard</a></li>
        </ul>
        <div class="controller">
            <!-- <a href="#">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </a> -->
            
            <li><a href="/logout"><img src="{% static 'analyst/images/logout.png' %}" alt="" srcset=""></a></li>
        </div>
    </div>
    <!-- main content -->
    <div class="main-content">
        <div class="left-side">
            <div class="profile-pic">
                <img src="{% block userProfilePic %}{% endblock userProfilePic %}" alt="profileImage">
            </div>
            <div class="intro-box">
                <h2>Welcome back <span class="text-capitalize">{% block userName %}{% endblock userName %}</span></h2>
                <img src="{% static 'analyst/svg/intro-box.svg' %}" alt="intro-box">
            </div>
        </div>

    </div>
    <!-- table -->
    <div id="application-table" class="container">
        <h2>Applications</h2>
        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Project Id</th>
                    <th>Project Name</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% block projectTable %}{% endblock projectTable %}
            </tbody>
        </table>
    </div>



    <!-- Boostrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'analyst/js/assets/jquery.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'analyst/js/assets/jquery.datatables.min.js' %}"></script>

    <script src="{% static 'analyst/js/assets/datatables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
    <!-- Sweet Alart Message script -->
    {% block alertMessage %}{% endblock alertMessage %}
</body>

</html>